// Colors

$primary : #ff8906;
$secundary: #e53170;
$dark: #0f0e17;
$light: #FFFFFE;
$dark-grey: #72757E;
$light-grey: #a7a9be;

// Fonts

$titles: 'Neucha', cursive;
$paragraphs: 'Montserrat', sans-serif;